<div class="contents row">
  <% @books.each do |book| %>
    <div class="content_post">
      <p><%= book.title %></p>
      <p><%= book.date %></p>
      <p><%= book.next %></p>
    </div>
  <% end %>
</div>